extends layout

block head
    link(rel='stylesheet', href='/stylesheets/desktop.css')
    script(src="/javascripts/jquery/jquery-1.11.1.js")
    script(src="/javascripts/desktop.js", type="text/javascript")

block content
