body
  background-color #000
  cursor none
  overflow hidden

h1
  font-family 'Impact'
  letter-spacing -.1em
  font-weight normal
  color #222
  padding 0
  margin 0
  text-align center
  display block